<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box; margin: 0; padding: 0">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admission Done</title>
</head>

<body style="
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      -ms-text-size-adjust: none;
      -webkit-text-size-adjust: none;
      text-size-adjust: none;
      background-color: gainsboro;
    ">
  <table class="main" style="
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        box-sizing: border-box;
        width: 100%;
        /* background-color: whitesmoke; */
        background-color: gainsboro;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      ">
    <tbody>
      <tr>
        <td>



          <table style="
              border: 0;
              width: 100%;
              max-width: 100%;
              margin: 0 auto;
              padding: 0;
              border-radius: 25px;
              overflow: hidden;
            ">
            <tbody>
              <tr>
                <td>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" color: #000000; width="680">
                    <tbody>
                      <tr>
                        <td style="
                          font-weight: 400;
                          text-align: left;
                          vertical-align: top;
                          padding-top: 5px;
                          padding-bottom: 5px;
                          border-top: 0px;
                          border-right: 0px;
                          border-bottom: 0px;
                          border-left: 0px;
                        " width="100%">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                              <td style="
                                padding-top: 15px;
                                width: 600px;
                                padding-right: 0px;
                                padding-left: 0px;
                              ">
                                <div align="center" style="line-height: 10px">
                                  <a href="https://ezyschooling.com/" target="_blank">
                                    <img src="https://ezyschooling.com/_nuxt/img/ezyschoolinglogo.9bdc839.png" style="
                                    display: block;
                                    height: auto;
                                    border: 0;
                                    width: 50%;
                                    max-width: 600px;
                                    margin: 10px auto;
                                  " width="170" />
                                  </a>
                                </div>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>

          </table>




          





          <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="
            margin: 0px auto; 
            /* background-color: #f7fcff; */
            background-color: white;
            margin-top: 10px;
            border-radius: 10px;
            border: 0.5px solid rgb(213, 223, 226);
            max-width: 600px;
          ">
            <tbody>




              <tr>
                <td>
                  <table  style="
                      width: 100%;
                      max-width: 600px;
                      margin: 0 ;
                      padding: 0;
                  ">
        
                    <tr>
                      <td>
                        <table style="
                            width: 100%;
                            max-width: 600px;
                            margin: 0 ;
                            padding: 0;
                          ">
                          <tr>
                            <td>
        
                              <img width="100%" style="margin: 0;
                                  border-radius: 10px 10px 4px 4px;
                                "
                                src="https://res.cloudinary.com/talenthunt/image/upload/v1658295904/Mailer%20Images/Automation%20mail%20images/img1_rgj3ju.jpg" />
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>









              <tr>
                <td>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" style="
                        color: #000000;
                        width: 90%;
                      " width="680">
                    <tbody>
                      <tr>
                        <td style="
                              font-weight: 400;
                              text-align: left;
                              vertical-align: top;
                              border-top: 0px;
                              border-right: 0px;
                              border-bottom: 0px;
                              border-left: 0px;
                            " width="100%">



                          <table border="0" cellpadding="0" cellspacing="0" width="600" style="
                                margin:auto; 
                                
                              ">
                            <tr>
                              <td style="
                                    padding-left: 20px;
                                    padding-right: 20px;
                                  ">
                                <div style="
                                      color: #393d47;
                                      direction: ltr;
                                      font-family: Lato, Tahoma, Verdana, Segoe,
                                        sans-serif;
                                      font-size: 1rem;
                                      letter-spacing: 0px;
                                      /* text-align: left; */
                                      text-align: justify;
                                    ">
                                  <p style="text-align: left; color: #393d47; font-weight: 600;"><strong>Dear Sir/Ma’am,</strong></p>
                                  <p style="text-align: justify; color: #031f42; font-weight: 500; font-size: 1rem;">
                                    <span style="line-height: 140%;">We are delighted to update you that a <span style="font-weight: 600; font-size: 0.9rem;">new admission</span> has been <span style="font-weight: 600; font-size: 0.9rem;">done in your school.</span>  Please find the necessary details below for your reference:</span>
                                  </p>




                                  <div>
                                    <table border="1px" cellspacing="5px" cellpadding="5px" style="border-radius: 5px;
                                      /* margin: auto; */
                                      /* border: 0.1px solid rgb(175, 207, 213); */
                                      border: none;
                                    ">
                                      <tr>
                                        <td style="font-weight: 600; font-size: 0.9rem; border: none; border-radius: 4px;">Parent name :</td>
                                        <td style=" border: none; border-radius: 4px;">{{parent_name}}</td>
                                      </tr>
                                      <tr>
                                        <td style="font-weight: 600; font-size: 0.9rem; border: none; border-radius: 4px;">Child name :</td>
                                        <td style=" border: none; border-radius: 4px;">{{child_name}}</td>
                                      </tr>
                                    </table>
                                  </div>
                                  
                                </div>

                                

                              </td>
                            </tr>

                            <tr>
                                <td>
                                    
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width: 600px;
                                    width: 100%;
                                    font-family: Lato, Tahoma, Verdana, Segoe,
                                    sans-serif;
                                    border-radius: 5px;
                                  ">
                      
                                  <tbody>
                                    





                                    <tr>
                                        
                                        <td>
                                            <div style="
                                            color: #393d47;
                                            direction: ltr;
                                            font-family: Lato, Tahoma, Verdana, Segoe,
                                                sans-serif;
                                            font-size: 1rem;
                                            letter-spacing: 0px;
                                            line-height: 120%;
                                            text-align: left;
                                            margin: 0;
                                            ">

                                            <p style="padding: 0 20px; " >
                                                <span>Please feel free to reach out to us in case of any doubts.</span>
                                            </p>

                                            
                                            <p style="padding: 0 20px; line-height: 160%;">
                                                <span>Regards</span> <br>
                                                <span style="font-family: cursive; font-weight: 600; font-size: 0.9rem;">Ezyschooling</span>
                                            </p>

                                        </div>
                                        </td>
                                    </tr>
                                    

                                  </tbody>
                                </table>
                                </td>
                              </tr>
                              

                          </table>
                        </td>
                      </tr>


                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>



















          <!-- footer -->
          <table style="width: 100%; max-width: 600px; margin: 0 auto; padding: 0">

           

            <tr>
              <td>
                <table width="100%" style="
                    max-width: 600px;
                    margin: 0 auto;
                    padding: 2em 0;
                    vertical-align: middle;
                    text-align: center;
                  ">



                  




                  <!-- social media -->
                  <tr>
                    <td>
                      <a href="https://www.facebook.com/ezyschooling" target="_blank"><img
                          style="width: 1.5em; margin: 0px 10px; border-radius: 5px;" src="https://res.cloudinary.com/talenthunt/image/upload/v1656928074/Mailer%20Images/Automation%20mail%20images/facebook_1_l8xixu.png
                          " alt="facebook" /></a>
                      <a href="https://twitter.com/ezyschooling?lang=en&utm_source=automatic" target="_blank"><img
                          style="
                            width: 1.5em;
                            border-radius: 5px;
                            margin: 0 10px;
                          "
                          src="https://res.cloudinary.com/talenthunt/image/upload/v1656928072/Mailer%20Images/Automation%20mail%20images/twitter_1_djyr4g.png"
                          alt="twitter" /></a>
                      <a href="https://www.linkedin.com/company/ezyschooling/" target="_blank"><img
                          style="width: 1.5em; margin: 0 10px; border-radius: 5px;"
                          src="https://res.cloudinary.com/talenthunt/image/upload/v1656928074/Mailer%20Images/Automation%20mail%20images/linkedin_1_yxfbgu.png"
                          alt="linkdin" /></a>
                      <a href="https://www.instagram.com/ezyschooling/" target="_blank"><img
                          style="width: 1.5em; margin: 0 10px; border-radius: 5px;" src="https://res.cloudinary.com/talenthunt/image/upload/v1656928074/Mailer%20Images/Automation%20mail%20images/instagram_cui48c.png
                          " alt="instagram" /></a>
                    </td>
                  </tr>


                  <!-- site and unsub link -->
                  <tr>
                    <td>

                      <unsubscribe
                      style="
                        color: #333;
                        font-weight: 500;
                        text-decoration: none;
                      "
                      >Unsubscribe</unsubscribe
                    >

                      <a style="color: #333;
                          text-align: center;
                          font-weight: 500;
                        " href="https://ezyschooling.com/" target="_blank">
                        Visit ezyschooling.com</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>