{% load i18n %}{% autoescape off %}
Dear User,

 You're receiving this e-mail because you or someone else has requested a password reset for your user account.
 It can be safely ignored if you did not request a password reset. Click the link below to reset your password.

https://ezyschooling.com/accounts/reset-password/{{ uid }}/{{ token }}

   {% if username %}In case you forgot, your email is {{ user.email }}.

{% endif %}
Thank you for using Ezyschooling!
The Ezyschooling team
{% endautoescape %}
