<html>

<head>
    <title>
        Registration Confirmed For Q/A Session
    </title>
</head>

<body>
    <p>Dear parents,</p>

    <p>Thank you for registering for the online virtual session on <b>"How to choose the right school for your child?"

</b></p>

    <p>Date : {{ slot.event_date | date:"d F Y" }} </p>

    <p>Time: {{ slot.time_slot | date:"g:i A" }}</p>

    <p>Link to join: Join Zoom Meeting<br/><a href="{{ slot.zoom_link }}">{{ slot.zoom_link }}</a></p>

    <p>Meeting ID: {{ slot.meeting_id }}<br/>Passcode: {{ slot.meeting_passcode }}</p>

    <p>Your registration has been confirmed.</p>



    <p>We have organised the session for you all with our Admission expert <b>Mr. Mayank Jain.</b></p>

    <p>The Q/A Session will incorporate all your queries and doubts relates to School Admissions such as</p>

    <p>✅ What are the parameters that you should look for choosing the right school for your child?</p>

    <p>✅ How school conduct the interaction session with parents?</p>

    <p>✅ Questions asked in the school interview?</p>

    <p>✅ What's the shortlisting process in schools?</p>

    <p>✅ How to Create your own personalized school list for your child's admission?</p>

    <p>✅ What is the difference between different boards. i.e. IGSCE, CBSE, IB and Cambridge?</p>


    <p>Regards</p>

    <p><b>Ezyschooling Team</b></p>

    <p>query@ezyschooling.com</p>

    <p>+91 8766340464</p>
</body>

</html>
