<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Hi
    <br> Greetings from Ezyschooling!!
    <br>
    <br> <i>Ezyschooling</i> is a unique tech-enabled Multi-Utility platform for Parents and Schools aiming at facilitating them with relevant information about admissions, we are collaborated with 200+ schools and understand that your target audience
    can also be the same. In the past year, we’ve worked with companies like Boradedugames,Unlu, Hobby tribe to help them in fetching good revenue and were thinking we might be able to help companies like yours as well.
    <br>
    <br> <b>We have a monthly traffic of 1.5 lakh parents visit and 40k+ parents already registered.</b>
    <br>
    <br><i> We will enhance your business by introducing your product to our website audience and by setting up collaboration with schools, I would love to schedule a brief 10-minute call to learn more about how we can meet your needs. Please suggest a suitable
    date and time.</i>
    <br><br> <i>Website link:-<a href="https://ezyschooling.com">https://ezyschooling.com</a></i>
    <br>
    <div style="font-weight:bold;">
        <br> Past Event Links:
        <br>
        <ol>
            <li> Decoding NEP 2020: <a href="https://www.youtube.com/watch?v=MVUvzcWd-gw&t=1240s">https://www.youtube.com/watch?v=MVUvzcWd-gw&t=1240s</a></li>
            <li> Analysis of NEP with Hobby Tribe: <a href="https://www.youtube.com/watch?v=xwT8ffQtyBs/">https://www.youtube.com/watch?v=xwT8ffQtyBs/</a></li>
            <li> Decoding effective virtual school: <a href="https://www.youtube.com/watch?v=nkL2feRhR9g&t=1s">https://www.youtube.com/watch?v=nkL2feRhR9g&t=1s</a></li>
            <li> Covid Reopening of Schools: <a href="https://www.youtube.com/watch?v=yZtlCpMfGB0&t=128s">https://www.youtube.com/watch?v=yZtlCpMfGB0&t=128s</a></li>
        </ol>
    </div>
    <br> Looking for a long-term collaboration with you. Let me know how we can take this forward.
    <br>
    <br>
    <br>
    <div style="color:#1f497d;font-weight:bold;">
        Vibha Dwivedi
        <br> Human Resource Executive
        <br> Email:vibha.dwivedi@ezyschooling.com
        <br> Address: Shahdara,Delhi-93
        <br> Phone: 9981005079
        <br> Website: ezyschooling.com
    </div>

</body>

</html>