<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Respected Principal,<br>
    <br> We are delighted to invite you on board for the panel discussion.<br>
    <br> We will be discussing various topics that are concerned with students and parents.<br>
    <br> About Ezyschooling: <br> Ezyschooling is a community of 150+ schools, 30000+ parents, and 10000+ teachers in which we are working with schools to transform the admission process smartly through artificial intelligence and technology as well as
    in staff recruitment for the schools. Ezyschooling aims to solve all parenting-related problems for parents with the help of experts in different domains like psychology, physiotherapy, school admission expert, and many more. Ezyschooling is the largest
    website in Delhi NCR in providing complete solace from all the admission-related queries.<br>
    <br> The link to the previous panel discussion is given below: <br>
    <a href="https://youtu.be/xwT8ffQtyBs">https://youtu.be/xwT8ffQtyBs</a><br>
    <br> Please send your confirmation over mail. Also please share your image and profile so that we can accordingly work on the promotion of this virtual event.
    <br><br>
    <br> Regards
    <br> Nikita Arora<br>
    Marketing Executive<br> 
    Email:  <a href="mailto:nikita.arora@ezyschooling.com">nikita.arora@ezyschooling.com</a><br> 
    Address: Shahdara, Delhi-93<br> 
    Phone: +91-9958657356<br> 
    Website: <a href="www.ezyschooling.com">www.ezyschooling.com</a><br> 
    Stay Home. Stay Safe. Go Online!!
</body>

</html>