{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Notification Sent To All Users</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Righteous&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="stylesheet" type="text/css" href="{% static '/css/thanks.css' %}" />
</head>

<body>
            <div class="box">
               <h1>Hurrayhhhh!!!!! 🥳🥳🥳🥳</h1>
               <p>Notifcation sent to all users</p>
               <div class="pyro">
                 <div class="before"></div>
                 <div class="after"></div>
               </div>
               <div class="container">
                 <div class="center">
                   <button type="button" name="button" style="color:black;background:white;font-size:20px;"> <a href="/admin">Home</a> </button>
                 </div>
               </div>

            </div>

</body>
</html>
