<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Contact-Us With No User</title>
  </head>
  <style>
    .left{
      margin-left: 25px;
    }
    .btn-light{
      border: 1px solid;
    }
    .top{
	    margin-top:10px;
    }
  </style>
  <body>
{% include 'partials/_navbar.html' %}
    <div class="container">
      <form method="GET" id="filter_form" action="{% url 'custom_admin:get_contact_us_for_anon_user' %}">
      <div class="row my-5">
        <div class="col-12">
          <h4>Filters</h4>
        </div>
	
        <div class="col-lg-4 mb-3">
          <div class="form-group">
            <label>Name</label>
	    <input type="text" name="name" id="name" value = "{{ context.name }}" class="form-control">
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="form-group">
            <label>Email</label>
	    <input type="text" name="email" id="email" value = "{{ context.email }}" class="form-control">
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="form-group">
            <label>Phone</label>
            <input type="text" name="phone_number" id="phone_number" value = "{{ context.phone_number }}"  class="form-control">
          </div>
        </div>
        <div class="col-lg-4 mb-3">
          <div class="form-group">
            <label>Message</label>
            <input type="text" name="message" value = "{{ context.message }}" id="message" class="form-control">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label>Start Date</label>
	    <input type="datetime-local" name="start_date" id="start_date" value="{{context.start_date}}"  class="form-control">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label>End Date</label>
	    <input type="datetime-local"name="end_date" id="end_date" value="{{context.end_date}}" class="form-control">
          </div>
        </div>
     </div>
     <div class="d-flex align-items-center">
      <button class="btn btn-success mr-3" type="submit">Filter</button>
      <button class="btn btn-light left" type="submit" onclick=clear_filters()>Clear</button>
     </div> 
    </form>
     <button class="btn btn-success top" onclick="export_csv()" >export</button> 
      <div class="table-responsive">
        <table class="table caption-top table-striped table-bordered">
          <caption>List of users</caption>
          <thead>
            <tr>
              <th scope="col">Created At</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Message</th>
            </tr>
          </thead>
          <tbody>
            {% for i in page_obj %}
              <tr>
                <td>{{ i.created_at }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.phone_number }}</td>
		<td>{{ i.message }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      
      {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="{{base_url}}page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="{{base_url}}page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
	<a class="btn btn-info mb-4" href="{{base_url}}page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
	<a class="btn btn-outline-info mb-4" href="{{base_url}}page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <a class="btn btn-outline-info mb-4" href="{{base_url}}page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="{{base_url}}page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

      <div class="modal fade" id="cartItemsModel" tabindex="-1" aria-labelledby="cartItemsModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cartItemsModelLabel">  </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p id="cart_data"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
  </body>
  <script>
    function export_csv(){
    console.log("Exportcalled")
       fetch(`/custom-admin/export_csv_contact_us/`+window.location.search)
      .then(response => response.blob())
      .then(blob => URL.createObjectURL(blob))
      .then(uril => {
      var link = document.createElement("a");
      link.href = uril;
      link.download = 'data' + ".csv";
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
       });
      }
    function clear_filters(){
    	document.getElementById('start_date').value = ''
    	document.getElementById('end_date').value = ''
	    document.getElementById('name').value = ''
	    document.getElementById('phone_number').value = ''
	    document.getElementById('email').value = ''
      document.getElementById('message').value = ''
    }
  </script>
</html>
