{% extends "custom_admin/base_custom.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}
{{ filter.form.media.css }}
{% load bootstrap4 %}
{% bootstrap_css %}
{% block title_main %}Dashboard{% endblock %}
{% block body_main %}
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    {% include "partials/_sidebar_main.html" %}
   <div class="main-content" id="panel">
    {% include "partials/_navbar_main.html" %}
    <div class="header bg-white pb-6">
      <div class="row"><div class="col-md-2"></div><div class="col-md-6">{% include "partials/_messages.html" %}</div></div>
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4"><div class="col-lg-6 col-7"><nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4"><ol class="breadcrumb breadcrumb-links breadcrumb-dark"><li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li><li class="breadcrumb-item"><a href="{% url 'custom_admin:home' %}">Parenting</a></li><li class="breadcrumb-item active" aria-current="page">User Cart Items</li></ol></nav></div></div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--6">
      <div class="row mt-4">
      	{% for format in view.export_formats %}
	       <a class="btn btn-primary" href="{% export_url format %}">
		                  download <code>.{{ format }}</code>
		</a>
	{% endfor %}
      </div>   
      {% if filter %}
      <form action="" class="py-3" method="get">
				      {% bootstrap_form filter.form  %}
				         <button class="btn btn-primary">Filter</button>
      </form>
      {% endif %}

      {% render_table table %}
      <b><br>
    </div>
    {{ filter.form.media.js }}
    </div>
</div>
{% endblock %}
