{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light ">
  <a class="navbar-brand mx-4" href="#">Ezyschooling</a>
</nav> 
    <div class="container py-4">
        <h2 class="text-center pt-5">Logged Out</h2>
        <h4> Thanks for spending some quality time with the Web site today. </h4>
        <a href="/custom-admin/uniform-app/login">Log in again</a>
    </div>

</body>
</html>
