
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enquiry</title>
  </head>
  <body style="margin: 0; padding: 0; box-sizing: border-box">
    <!-- wrapper -->
    <div
      class="wrapper"
      style="
        width: 100%;
        text-align: center;
        background: linear-gradient(
          to top,
          #39aea9,
          #39aea9 50%,
          #c3e5ae 50%,
          #c3e5ae 75%
        );
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      "
    >
      <!-- logo -->
      <table
        style="
          width: 100%;
          max-width: 600px;
          margin: 0 auto;
          padding: 0;
          box-sizing: border-box;
        "
      >
        <tr>
          <td>
            <a
              href="https://ezyschooling.com/"
              target="_blank"
              style="box-sizing: border-box; margin: 0; padding: 0"
            >
              <img
                width="100%"
                style="margin: 2em auto 0; max-width: 250px"
                src="https://drive.google.com/uc?id=1HzXMo5YdoRbJ-cZ2BGlR833DFPFJVmr4"
                alt="logo"
            /></a>
          </td>
        </tr>
      </table>

      <!-- starting table -->
      <table
        class="main"
        style="
          width: 100%;
          max-width: 600px;
          margin: 0 auto;
          padding: 0;
          box-sizing: border-box;
          border-radius: 15px;
          overflow: hidden;
          background: #fff;
        "
      >
        <!-- banner -->

        <tr>
          <td>
            <img
              style="width: 100%"
              src="https://drive.google.com/uc?id=1EQDssroCgfDR67hRofqhmUCCoC03XACR"
              alt="logo"
            />
            <h1 style="font-size: 24px; color: #39aea9; margin: 0.5em 0.5em">
              Query raised by a parent! <br />
              Time to take quick action!
            </h1>
          </td>
        </tr>
        <!-- content -->
        <tr style="margin: 0">
          <td style="margin: 0">
            <div class="content" style="margin: 0 1em 2em; text-align: left">
              <hr
                style="
                  height: 2px;
                  border-radius: 15px;
                  background: #39aea9;
                  margin: 0.5em 0 1em;
                "
              />

              <p style="font-size: 16px; margin: 0.8em 0; line-height: 1.5">
                Hi,
              </p>
              <p style="font-size: 16px; margin: 0.8em 0; line-height: 1.5">
                {{name}} was exploring your school and has raised a query
                regarding admissions.
              </p>
              <p style="font-size: 16px; margin: 0.8em 0; line-height: 1.5">
                <b>Query raised:</b> {{query}}.
              </p>
              <p
                style="
                  font-weight: 500;
                  font-size: 16px;
                  margin: 0.8em 0;
                  line-height: 1.5;
                "
              >
                You can contact the parent through email to resolve the query
                and help the parent in the admission process further.
              </p>
              <p
                style="
                  font-size: 16px;
                  margin: 0.8em 0;
                  line-height: 1.5;
                  font-weight: 700;
                "
              >
                Email-ID: {{user_email}}
              </p>
              <p style="font-size: 16px; margin: 0.8em 0; line-height: 1.5">
                We hope that you are able to reach out to the parent soon so
                that they can make a timely decision.
              </p>

              <hr
                style="
                  height: 2px;
                  border-radius: 15px;
                  background: #39aea9;
                  margin: 1em 0;
                "
              />

              <p
                style="
                  font-family: sans-serif;
                  font-size: 20px;
                  margin: 0.8em 0;
                  line-height: 1.5;
                  text-align: center;
                  font-weight: 700;
                  color: #39aea9;
                "
              >
                If you want to get all queries immediately coming your way
                increasing the number of parent interactions regarding the
                admission process, <br />
                we have something for you!
              </p>
                <div
                  style="padding-bottom:20px;padding-left:15px;padding-right:15px;padding-top:20px;text-align:center;">
                  <div align="center">
                    <a href="https://ezyschooling.com/school/signup?id=9a4ba8ae-bcb3-4f78-8c04-39fb35a543e9">
                    <button
                      style="text-decoration:none;display:inline-block;color:#ffffff;background-color:#39aea9;border-radius:30px;width:auto;border-top:1px solid #39aea9;border-right:1px solid #39aea9;border-bottom:1px solid #39aea9;border-left:1px solid #39aea9;padding-top:10px;padding-bottom:10px;font-family:Arial, Helvetica Neue, Helvetica, sans-serif;text-align:center;mso-border-alt:none;word-break:keep-all; cursor: pointer;">
                      <span
                        style="padding-left:40px;padding-right:40px;font-size:14px;display:inline-block;letter-spacing:normal;"><span
                          style="font-size: 14px; font-weight: 600; line-height: 2; word-break: break-word; mso-line-height-alt: 32px;">Sign Up Now</span></span>
                    </button>
                  </a>
              </div>
          </div>
              <p
                style="
                  font-weight: 600;
                  font-size: 16px;
                  margin: 0.8em 0;
                  line-height: 1.5;
                  text-align: center;
                "
              >
                <a href="https://ezyschooling.com/school/signup" style="color:#1600de;">Sign up</a> for our paid plans and get so many premium features made
                available to you:
              </p>

              <p style="font-size: 16px; margin: 0.8em 0; line-height: 1.5">
                1. Access to your own automated dashboard providing you
                information like the contact of parents, filled application
                forms, and so much more to help you make informed decisions.
              </p>

              <p style="font-size: 16px; margin: 0.8em 0; line-height: 1.5">
                2. Placement of your school profile at the top spots in the
                school lists.
              </p>
              <p style="font-size: 16px; margin: 0.8em 0; line-height: 1.5">
                3. Extensive marketing activities like advertisements, panel
                discussions with the principal, exclusive articles and blog
                posts, and much more carried out specifically for your school.
                <br />
                And these are just some of the advantages that you will get as a
                premium member of our platform. We hope to hear from you soon
                and turn this into a long-term fruitful association.  If you
                have any queries, feel free to contact us.
              </p>

              <hr
                style="
                  height: 2px;
                  border-radius: 15px;
                  background: #39aea9;
                  margin: 1em 0;
                "
              />

              <p style="font-size: 16px; margin: 0.8em 0; line-height: 1.8">
                Thanks & Regards
                <br />
                Team Ezy<span style="color: #ff0a54">schooling</span>
                <br />

                website:
                <a href="https://ezyschooling.com/">www.ezyschooling.com</a>
              </p>
            </div>
          </td>
        </tr>

      </table>
      <!-- footer -->
      <table style="width: 100%; max-width: 600px; margin: 0 auto; padding: 0">
        <tr>
          <td>
            <table
              width="100%"
              style="
                max-width: 600px;
                margin: 0 auto;
                padding: 2em 0;
                vertical-align: middle;
                text-align: center;
              "
            >
              <!-- socials -->
              <tr>
                <td>
                  <a
                    href="https://www.facebook.com/ezyschooling"
                    target="_blank"
                    ><img
                      style="max-width: 2em; margin: 0 10px"
                      src="https://drive.google.com/uc?id=1LZzZtYMSKGZmaQG80SKLn5_9GBE08no2"
                      alt="facebook"
                  /></a>
                  <a
                    href="https://twitter.com/ezyschooling?lang=en&utm_source=automatic"
                    target="_blank"
                    ><img
                      style="width: 2em; border-radius: 5px; margin: 0 10px"
                      src="https://drive.google.com/uc?id=1npz2m99r1NCioXS9LARAfc0ACxfhJZLZ"
                      alt="twitter"
                  /></a>
                  <a
                    href="https://www.linkedin.com/company/ezyschooling/"
                    target="_blank"
                    ><img
                      style="width: 2em; margin: 0 10px"
                      src="https://drive.google.com/uc?id=14iTLUkU-n7UrFfwOsgNmV7c-thoV9AVE"
                      alt="linkdin"
                  /></a>
                  <a
                    href="https://www.instagram.com/ezyschooling/"
                    target="_blank"
                    ><img
                      style="width: 2em; margin: 0 10px"
                      src="https://drive.google.com/uc?id=1EmJ_i8Uwrw2ORuSF65MiYR9tvnPXUTn6"
                      alt="instagram"
                  /></a>
                </td>
              </tr>
              <!-- end of tr -->

              <!-- site and unsub link -->
              <tr>
                <td>
                  <unsubscribe
                    style="
                      color: #000;
                      font-family: Open Sans, Helvetica, Arial, sans serif;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 160%;
                      text-decoration: underline;
                    "
                    >Unsubscribe</unsubscribe
                  >
                  <a
                    style="color: #000"
                    href="https://ezyschooling.com/"
                    target="_blank"
                  >
                    Visit ezyschooling.com</a
                  >
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
