<!DOCTYPE html>
<html lang="en" style="box-sizing: border-box; margin: 0; padding: 0">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body
    style="
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      -ms-text-size-adjust: none;
      -webkit-text-size-adjust: none;
      text-size-adjust: none;
    "
  >
    <div

      style="
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        box-sizing: border-box;
        width: 100%;
        background: #dbecf4;
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
          Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      "
    >
      <!-- logo-->
      <table
        style="
          border: 0;
          width: 100%;
          max-width: 600px;
          margin: 0 auto;
          padding: 0;
          border-radius: 25px;
          overflow: hidden;
        "
      >
        <tr
          style="line-height: 5%; box-sizing: border-box; margin: 0; padding: 0"
        >
          <td style="box-sizing: border-box; margin: 0; padding: 0">
            <table style="box-sizing: border-box; margin: 0 auto; padding: 0">
              <tr style="box-sizing: border-box; margin: 0; padding: 0">
                <td style="box-sizing: border-box; margin: 0; padding: 0">
                    <div align = "center">
                  <a
                    href="https://ezyschooling.com/"
                    target="_blank"
                    style="box-sizing: border-box; margin: 0; padding: 0"
                  >
                    <img
                      width="80%"
                      style="margin: 2em 0 1em"
                      src="https://drive.google.com/uc?id=1HzXMo5YdoRbJ-cZ2BGlR833DFPFJVmr4"



                  /></a>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <table

        style="
          width: 100%;
          max-width: 600px;
          margin: 0 auto;
          padding: 0;
          background: #fff;
        "
      >
        <!-- banner -->

        <tr>
          <td>
            <table
              style="width: 100%; max-width: 600px; margin: 0 auto; padding: 0"
            >
              <tr>
                <td>
                  <img
                    width="100%"
                    style="margin: 0"
                    src="https://drive.google.com/uc?id=1Qar58TRg5TPjjb34NayWooUEp76aLeWs"

                  />
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- starting content -->

        <!-- end of main table -->
      </table>

      <table style = " background : #fff ; margin : 2rem auto ; padding : 10px 15px ; box-sizing: border-box; max-width: 600px; width : 100% ; " align = "center">
          <tbody>
            <tr>
                <td>
                  <div style="padding: 0 1em; text-align: left">
                    <p style="margin: 0; font-weight: 500">
                      <span style="font-size: 20px; font-weight: 700; color: darkblue"
                        >Dear Parent,</span
                      >
                      <br />
                      <br />
                      We noticed that you enquired for {{class}} admissions for {{school_name}}. We wanted to notify you
                     that admissions are open in this school but seats are limited.<br><br>
      {{interest_parents}} parents have already shown interest and that suggests that you should be
      taking some quick actions. <br><br>

      Don’t worry! Our counselors will be contacting you soon to answer all your doubts and in the
      meantime you can start with the admission process.

                    </p>
                  </div>
                </td>
              </tr>
          </tbody>
      </table>

      <table style = "background : #fff ; margin : 2rem auto ; padding : 0 ; box-sizing: border-box; max-width: 600px; width : 100% ; " align = "center">
          <tbody>
              <tr>
                  <td>
                    <div
                    style="
                    text-align : center ;
                      font-size: 20px;
                      font-weight: 700;
                      text-align: center;
                      padding: 0px 0px ;
                      color: darkblue;
                      margin : 1.2rem auto ;

                    "
                    align = "center"
                  >
                  Here are the simple steps you need to follow after you’ve signed up:
                  </div>
                  </td>
              </tr>
              <tr>
                  <td>
                    <img
                    width="100%"
                    style="margin: 0"
                    src="https://drive.google.com/uc?id=14c0-2wsgGNWhNf2TVQlqsNUXiWJ0D1vM"
                  />
                  </td>
              </tr>
              <tr>
                <td colspan="4">
                    <div
                      align="center"
                      style="padding-top: 1rem; padding-bottom: 1rem"
                    >
                      <a
                        href={{apply_now}}
                        style="
                          text-decoration: none;
                          display: inline-block;
                          color: #fff;
                          background: darkblue;
                          border-radius: 25px;
                          width: auto;
                          padding-top: 5px;
                          padding-bottom: 5px;
                          text-align: center;
                          mso-border-alt: none;
                          word-break: keep-all;
                        "
                        target="_blank"
                        ><span
                          style="
                            padding-left: 30px;
                            padding-right: 30px;
                            font-size: 13px;
                            display: inline-block;
                            letter-spacing: normal;
                          "
                          ><span
                            style="
                              font-size: 16px;
                              line-height: 2;
                              mso-line-height-alt: 32px;
                            "
                            ><span
                              data-mce-style="font-size: 13px; line-height: 26px;"
                              style="font-size: 13px; line-height: 26px"
                              ><strong>Apply Now</strong></span
                            ></span
                          ></span
                        ></a
                      >
                    </div>
                  </td>
              </tr>
          </tbody>
      </table>



      <table
        style="
          width: 100%;
          max-width: 600px;
          margin: 0 auto;
          padding: 0 1em;
          background: #fff;
        "
      >

        <tr>
          <td>
            <h1 style="color: darkblue; font-size: 20px; margin: 10px 0">
                With Ezyschooling you get:
            </h1>
          </td>
        </tr>
        <tr>
            <td>
                <div style = "padding :0 ; margin : 0 auto ;" align = "center">
                <ul style = "text-align: left;">
                    <li style = "margin : 0.5rem auto ; ">Easy application to multiple schools</li>
                    <li style = "margin : 0.5rem auto ;">Opportunity to apply in 500+ renowned schools</li>
                    <li style = "margin : 0.5rem auto ;">Admission-related updates through Email and SMS</li>
                    <li style = "margin : 0.5rem auto ;">Application Tracking through a tech enabled dashboard</li>
                    <li style = "margin : 0.5rem auto ;">Information related to all schools at one place</li>
                </ul>
                </div>
            </td>
        </tr>

      </table>

      <!-- testimony -->

      <table
        style="
          width: 100%;
          max-width: 600px;
          margin: 2rem auto;
          padding: 0 1em;
          background: #fff;
        "
      >
        <!-- header -->
        <tr>
          <td>
            <h1 style="color: darkblue; font-size: 20px; margin: 0.5em 0 1em">
                Here’s what the happy parents have to say about their experience with Ezyschooling!
            </h1>
          </td>
        </tr>

        <!-- testimony : 1 -->

        <tr>
          <td>
            <div
              style="
                text-align: left;
                color: #fff;
                width: 80%;
                border: 0.5px solid #fff;
                border-radius: 15px;
                padding: 1em;
                margin: 0 auto 2em;
                background-color: darkblue;
              "
            >
              <img
                style="width: 40px; height: 40px"
                src="https://drive.google.com/uc?id=1GZM5uSq0-2wt5INhdHXJJjVyN0gWZqfH"

              />
              <p style="font-weight: 500 ; text-align: center ;">
                “I am so thankful to Ezyschooling as they helped me so much throughout the whole process so nicely. The admission done in the school of our choice was purely because of their help and efforts. I will recommend everyone to go for Ezyschooling for applying to schools”
              </p>
              <div style="text-align: center ; margin : 0 ; padding : 0 ; " align = "center">

                <p style="font-weight: 700; margin: 0.2rem 0rem">- Annant Asewal</p>
              </div>
            </div>
          </td>
        </tr>

      <!-- testimony : 2 -->

      <tr>
        <td>
          <div
            style="
              text-align: left;
              color: #fff;
              width: 80%;
              border: 0.5px solid #fff;
              border-radius: 15px;
              padding: 1em;
              margin: 0 auto 2em;
              background-color: darkblue;
            "
          >
            <img
              style="width: 40px; height: 40px"
              src="https://drive.google.com/uc?id=1GZM5uSq0-2wt5INhdHXJJjVyN0gWZqfH"

            />
            <p style="font-weight: 500 ; text-align: center ;">
                “I got my daughter’s admissions done through Ezyschooling. It is a very useful website and the representatives are very supportive. They helped me throughout the admissions procedure and in selecting multiple schools in Delhi. I think all parents looking at schools for admissions should try it. Thankyou, Ezyschooling.”
            </p>
            <div style="text-align: center ; margin : 0 ; padding : 0 ; " align = "center">

              <p style="font-weight: 700; margin: 0.2rem 0rem">- Isha Gupta</p>
            </div>
          </div>
        </td>
      </tr>


      </table>
      <!-- footer -->
      <table style="width: 100%; max-width: 600px; margin: 0 auto; padding: 0">
        <tr>
          <td>
            <table
              width="100%"
              style="
                max-width: 600px;
                margin: 0 auto;
                padding: 2em 0;
                vertical-align: middle;
                text-align: center;
              "
            >
              <!-- socials -->
              <tr>
                <td>
                  <a
                    href="https://www.facebook.com/ezyschooling"
                    target="_blank"
                    ><img
                      style="max-width: 1.5em; margin: 0 10px"
                      src="https://drive.google.com/uc?id=1LZzZtYMSKGZmaQG80SKLn5_9GBE08no2"

                  /></a>
                  <a
                    href="https://twitter.com/ezyschooling?lang=en&utm_source=automatic"
                    target="_blank"
                    ><img
                      style="width: 1.5em; border-radius: 5px; margin: 0 10px"
                      src="https://drive.google.com/uc?id=1npz2m99r1NCioXS9LARAfc0ACxfhJZLZ"

                  /></a>
                  <a
                    href="https://www.linkedin.com/company/ezyschooling/"
                    target="_blank"
                    ><img
                      style="width: 1.5em; margin: 0 10px"
                      src="https://drive.google.com/uc?id=14iTLUkU-n7UrFfwOsgNmV7c-thoV9AVE"

                  /></a>
                  <a
                    href="https://www.instagram.com/ezyschooling/"
                    target="_blank"
                    ><img
                      style="width: 1.5em; margin: 0 10px"
                      src="https://drive.google.com/uc?id=1EmJ_i8Uwrw2ORuSF65MiYR9tvnPXUTn6"

                  /></a>
                </td>
              </tr>
              <!-- end of tr -->

              <!-- site and unsub link -->
              <tr>
                <td>
                    <div align = "center">
                  <unsubscribe
                    style="
                      color: #333;
                      font-family: Open Sans, Helvetica, Arial, sans serif;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 160%;
                      text-decoration: underline;
                    "
                    >Unsubscribe</unsubscribe
                  >
                  <a
                    style="color: #333"
                    href="https://ezyschooling.com/"
                    target="_blank"
                  >
                    Visit ezyschooling.com</a>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
